# Ignore all .a files
*.a

# Ignore all .txt files in the docs folder
docs/*.txt

# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore IDE settings
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store